{% extends 'user_filter.html' %}

{% block paging_count %}

<select name = "step_size" id="step_size" onchange="redisplay('step_size')">
    <option value="05" default>05 rows</option>
    <option value="10">10 rows</option>
    <option value="50">50 rows</option>
    <option value="100">100 rows</option>
</select>
{% endblock %}
{% block paging %}
<ul class="pagination">
    <li class="waves-effect"><i class="material-icons" onclick="redisplay('left')" id ="page_left" name="page_left" {{data["page"]["left"]}}>chevron_left</i></li>
    <li class="active  #1a237e indigo darken-4"><a href="#!" id ="page_number">{{data["page"]["number"]}}</a></li>
    <li class="waves-effect"><i class="material-icons" onclick="redisplay('right')"id ="page_right" name="page_right" {{data["page"]["right"]}}>chevron_right</i></li>
</ul>
{% endblock %}