{% extends 'user_base.html' %}

{% block filter %}
    
    <form method="get" name="searchBox">
        <div class="row">
            <div class="input-field col s11">
                <input type="text" id="search" name="search" {% if request.args.get('search') %}value="{{ request.args.get('search') }}"{% endif %}>
                <label for="search">Search</label>
                <i class="material-icons prefix" style="cursor: pointer;" onclick="redisplay('search')">search</i>
            </div>
        </div>

        {% for filter in data["filter"] %}
            <div class="row">
                <label>{{filter["name"]}}</label>
            </div>
            
            <div>
                <!-- <p>
                    <label>
                        <input type="radio" class="filled-in" value= "all"/>
                        <span>ALL</span>
                    </label>
                </p> -->
                {% for item in filter["items"]%}
                    <p>
                        <label>
                            <input type="radio" class="filled-in" name="{{ filter['name'] }}" onchange="redisplay(event)" value= "{{item}}"/>
                            <span>{{ item }}</span>
                        </label>
                    </p>
                {% endfor %}
                
            </div>
        {% endfor %}

            
    </form>
{% endblock %}